body{
	background-color: white;
}

header{
	padding: 120px;
	text-align: center;
}
header img{
	width: 125px;
	border: solid white;
	border-radius: 15px;
}
header h1{
	color: orange;
	font-family: fantasy;
}
h1{
	font-family: monospace;
}
h2{
	color: orange;
}
p{
	font-family: fantasy;
}
div{
	border-radius: 20px;
	background-color: whitesmoke ;
	margin: 20px;
	width: 1200px;
	height: 150px;
	padding: 10px;
}


